@model IEnumerable<DejtProjekt.Models.Friend>
@*@model IEnumerable<DejtProjekt.Models.UserModel>*@

@{
    ViewBag.Title = "ShowFriends";
}

<h2>ShowFriends</h2>

<table class="table">
   
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
              
                <td>
                    @Html.ActionLink("Visa Profil", "Details", new { id = item.Fid})
                </td>
            </tr>

        }
    </table>

